.MuiButton-containedPrimary {
  background-color: #eb4447 !important;
}

.MuiButton-containedPrimary:hover {
  background-color: #ed5659 !important;
}

.MuiButton-textPrimary {
  color: black !important;
}

.MuiButton-textPrimary:hover {
  background-color: #eb4447 !important;
  color: white !important;
}
