.globalCenterColumn {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.MuiFab-primary {
  background-color: #eb4447 !important;
}

.MuiFab-root:hover {
  background-color: #ed5659 !important;
  color: white !important;
}

.MuiButton-contained:hover {
  background-color: #ed5659 !important;
  color: white !important;
}

.MuiButton-containedPrimary {
  background-color: #eb4447 !important;
}

.MuiButton-containedPrimary:hover {
  background-color: #ed5659 !important;
}

.MuiButton-textPrimary {
  color: black !important;
}

.MuiButton-textPrimary:hover {
  background-color: #eb4447 !important;
  color: white !important;
}
